<div id="coefficientBoundsEntry" class="hideable hidden">
<h2>Coefficients Bounds</h2>
<p>Here you can enter coefficient upper and lower bounds. Leave the
entry fields blank to let the coefficients fit without bounds.</p>
<p>Note that holding a coefficient constant overrides these bounds.</p>
<p>{{ equationInstance.GetDisplayHTML }}</p>
<table >
<tr><td></td><td> &nbsp; Upper &nbsp; <br> &nbsp; Bound &nbsp; </td><td> &nbsp; Lower &nbsp; <br> &nbsp; Bound &nbsp; </td></tr>
{% for item in coefficientBoundsTemplateRequirement %}
<tr><td><div name='nameOfCoefficientBound'>{{ item.0 }} &nbsp; &nbsp;</div></td><td>{{ item.1 }}</td><td>{{ item.2 }}</td></tr>
{% endfor %}
</table>
</div>
