<div id="coefficientBoundsEntry" class="hideable hidden">
  <h2>Coefficient Bounds</h2>
  <p>Here you can enter coefficient upper and lower bounds. Leave the entry fields blank to let the coefficients fit without bounds.</p>
  <p>Note that holding a coefficient constant overrides these bounds.</p>
  <p class="math">{{ equationInstance.GetDisplayHTML }}</p>
  <table class="form-table">
    <thead>
      <tr>
        <th scope="col"><span class="visually-hidden">Coefficient</span></th>
        <th scope="col">Upper Bound</th>
        <th scope="col">Lower Bound</th>
      </tr>
    </thead>
    <tbody>
      {% for item in coefficientBoundsTemplateRequirement %}
      <tr>
        <th scope="row" name="nameOfCoefficientBound" class="math">{{ item.0 }}</th>
        <td>{{ item.1 }}</td>
        <td>{{ item.2 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>