<div id="dataLabels" class="hideable hidden">
<h2>Data labels for graphs</h2>
Here you can enter the
{% if dimensionality == '1' %}X data label {% endif %}
{% if dimensionality == '2' %}X and Y data labels {% endif %}
{% if dimensionality == '3' %}X, Y and Z data labels {% endif %}
to be printed on the report graphs.
<br>
<br>
<table >
<tr>
<td>
    <table>
        <tr>
        <td>
        <small>Label for first independent data (X)</small>
        <hr>
        {{ mainForm.dataNameX }}
        </td>
        </tr>
    </table>
</td>
{% if dimensionality != '1' %}
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
        <table>
            <tr>
            <td>
{% if dimensionality == '2' %}
            <small>Label for dependent data (Y)</small>
            <hr>
{% else %}
            <small>Label for second independent data (Y)</small>
            <hr>
{% endif %}
            {{ mainForm.dataNameY }}
            </td>
            </tr>
        </table>
    </td>
{% endif %}
</tr>
</table>
{% if dimensionality == '3' %}
<br>
<table>
    <tr>
    <td>
    <small>Label for dependent data (Z)</small>
    <hr>
    {{ mainForm.dataNameZ }}
    </td>
    </tr>
</table>
{% endif %}
</div>
