<div id="dataEntry" class="hideable hidden">
<h2>Text data editor</h2>
<p>Cut-and-paste text or edit data here</p>
<fieldset class="field-group">
  <legend class="visually-hidden">Comma conversion</legend>
  {{ mainForm.commaConversion }}
</fieldset>

{% if mainForm.weightedFittingPossibleFlag %}
<fieldset class="field-group">
  <legend class="visually-hidden">Weighted fitting</legend>
  {{ mainForm.weightedFittingChoice }}
</fieldset>
{% endif %}

<p>{{ mainForm.textDataEditor }}</p>
<button type="button" onClick="javascript:this.form.textDataEditor.value=''">Clear All Text</button>
</div>
