<div id="dataEntry" align='center' name="hideable_div" style="display:none;">
<b>Text data editor</b><br><br>
Cut-and-paste text or edit data here
<br>
<br>
<table border="1">
<tr>
    <td align=left>
    {{ mainForm.commaConversion }}
    </td>
</tr>
</table>

{% if mainForm.weightedFittingPossibleFlag %}
<br>
<table border="1">
<tr>
    <td align=left>
    {{ mainForm.weightedFittingChoice }}
    </td>
</tr>
</table>
{% endif %}

<br>
{{ mainForm.textDataEditor }}
<br>
<br>
<input type="button" onClick="javascript:this.form.textDataEditor.value=''" value="Clear All Text">
</div>
