<div id="dataEntry" name="hideable_div" style="display:none;">
<h2>Text data editor</h2>
Cut-and-paste text or edit data here
<br>
<br>
<table>
<tr>
    <td>
    {{ mainForm.commaConversion }}
    </td>
</tr>
</table>

{% if mainForm.weightedFittingPossibleFlag %}
<br>
<table>
<tr>
    <td>
    {{ mainForm.weightedFittingChoice }}
    </td>
</tr>
</table>
{% endif %}

<br>
{{ mainForm.textDataEditor }}
<br>
<br>
<button type="button" onClick="javascript:this.form.textDataEditor.value=''">Clear All Text</button>
</div>
