<div id="equationFamilyInclusion" name="hideable_div" style="display:none;">
<div class="text-center"><h2>Equation Family Inclusion</h2>
<br>
<br>
Select families of equations to include in the function finder.
<br>
NOTE: Polyfunctionals are only used in absolute SSQ fitting.
<br>
<br>
<table><tr><td>
{{ mainForm.equationFamilyInclusion }}
</td></tr></table>
<br>
<button type="button" onClick="javascript:$('*[name=equationFamilyInclusion]').attr('checked', false);">Clear All Selections</button>
</div>
</div>
