<div ID="equationFamilyInclusion" align='center' name="hideable_div" style="display:none;">
<div style="text-align:center"><b>Equation Family Inclusion</b>
<br>
<br>
Select families of equations to include in the function finder.
<br>
NOTE: Polyfunctionals are only used in absolute SSQ fitting.
<br>
<br>
<table BORDER="1"><tr><td ALIGN=LEFT>
{{ mainForm.equationFamilyInclusion }}
</td></tr></table>
<br>
<input TYPE="BUTTON" onClick="javascript:$('*[name=equationFamilyInclusion]').attr('checked', false);" VALUE="Clear All Selections">
</div>
</div>
