<div id="estimatedCoefficientEntry" class="hideable hidden">
<h2>Estimated Initial Coefficients</h2>
<p>Here you can enter values for initial parameter estimates.</p>
<p>Few users will need this section, as the site estimates initial
parameters using the Differential Evolution genetic algorithm
for both non-linear equations and non-Gaussian fitting targets.</p>
<p class="math">{{ equationInstance.GetDisplayHTML }}</p>
<table class="form-table">
<tbody>
{% for item in estimatedCoefficientTemplateRequirement %}
<tr><td><div name='nameOfEstimatedCoefficient'>{{ item.0 }}</div></td><td>{{ item.1 }}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
