<div id="feedbackDiv" class="hideable hidden">
<h2>Feedback</h2>
<p>Enter comments, questions, or general feedback here then press
"Send Feedback". Suggestions for equations are always welcome.
Your email address isn't required unless you'd like a reply.</p>
<p>Or try the FindCurves <a href='https://groups.google.com/g/findcurves'>Google discussion group</a>.</p>
<form method='post' action="/Feedback/" target="_blank">
{{ feedbackForm.feedbackText }}
<p>{{ feedbackForm.emailAddress }}<br>Email Address for Reply <b>(optional)</b></p>
<input type="submit" value="Send Feedback">
</form>
</div>
