<div id="feedbackDiv" name="hideable_div" style="display:none;">
<b><span>Feedback</span></b><br><br>
Enter comments, questions, or general feedback here then press<br>
"Send Feedback". Suggestions for equations are always welcome.<br>
Your email address isn't required unless you'd like a reply.<br>
<br>
or try the FindCurves <a href='https://groups.google.com/g/findcurves'>Google discussion group</a>.
<br><br>
<form method='post' action="/Feedback/" target="_blank">
{{ feedbackForm.feedbackText }}
<br><br>
{{ feedbackForm.emailAddress }}<br>Email Address for Reply <b>(optional)</b><br><br>
<input type="submit" value="Send Feedback">
</form>
</div>
