<div ID="feedbackDiv" align='center' name="hideable_div" style="display:none;">
<B><span style="font-size:larger">Feedback</span></B><BR><BR>
Enter comments, questions, or general feedback here then press<BR>
"Send Feedback". Suggestions for equations are always welcome.<BR>
Your email address isn't required unless you'd like a reply.<BR>
<BR>
or try the FindCurves <a href='https://groups.google.com/g/findcurves'>Google discussion group</a>.
<BR><BR>
<FORM method='POST' ACTION="/Feedback/" TARGET="_blank">
{{ feedbackForm.feedbackText }}
<BR><BR>
{{ feedbackForm.emailAddress }}<BR>Email Address for Reply <B>(optional)</B><BR><BR>
<INPUT TYPE="submit" VALUE="Send Feedback">
</form>
</div>
