<div id="graphScale" class="hideable hidden">
<h2>Graph scaling and lin/log control</h2>
<p>Here you can choose the scaling of the data{% if dimensionality != '3' %} plots.{% else %} plots and the 3D scatterplots.{% endif %}<br>
Log plots require data values greater than zero.</p>

<div class="form-columns">
    <div>
        <small>X Scale (2D Only)</small>
        <hr>
        {{ mainForm.graphScaleRadioButtonX }}
        <p>Max X: {{ mainForm.graphScaleManuallyEnteredMaxX }}<br>
           Min X: {{ mainForm.graphScaleManuallyEnteredMinX }}</p>
        {{ mainForm.logLinX }}
    </div>
{% if dimensionality != '1' %}
    <div>
        <small>Y Scale (2D Only)</small>
        <hr>
        {{ mainForm.graphScaleRadioButtonY }}
        <p>Max Y: {{ mainForm.graphScaleManuallyEnteredMaxY }}<br>
           Min Y: {{ mainForm.graphScaleManuallyEnteredMinY }}</p>
        {{ mainForm.logLinY }}
    </div>
{% endif %}
{% if dimensionality == '3' %}
    <div>
        <small>Z Scale (2D Only)</small>
        <hr>
        {{ mainForm.graphScaleRadioButtonZ }}
        <p>Max Z: {{ mainForm.graphScaleManuallyEnteredMaxZ }}<br>
           Min Z: {{ mainForm.graphScaleManuallyEnteredMinZ }}</p>
        {{ mainForm.logLinZ }}
    </div>
{% endif %}
</div>
</div>
