<div id="graphSize" class="hideable hidden">
<h2>Graph{% if dimensionality == '3' %} and Animation{% endif %} size</h2>
<p>Here you can choose the size of the graphs. Smaller size files load quickly, with less resolution while large files show more resolution but load more slowly.</p>

{% if dimensionality == '3' %}
<h3>Graph Size</h3>
{% endif %}
<fieldset class="field-group">
  <legend class="visually-hidden">Graph size</legend>
  {{ mainForm.graphSize }}
</fieldset>

{% if dimensionality == '3' %}
<h3>Animation Size</h3>
<fieldset class="field-group">
  <legend class="visually-hidden">Animation size</legend>
  {{ mainForm.animationSize }}
</fieldset>
{% endif %}
</div>
