<div id="graphSize" name="hideable_div" style="display:none;">
<h2>{% if dimensionality == '3' %}Animation and {% endif %}Graph size</h2>
<br><br>
Here you can choose the size of the graphs. Smaller size files load quickly,<br>with less resolution while large files show more resolution but load more slowly.
<br>
<br>
<table>
<tr>
<td>
    <table ><tr><td>
{{ mainForm.graphSize }}
    </td></tr></table>
</td>
</tr>
<tr><td><h3>Graph Size</h3></td></tr>
</table>
{% if dimensionality == '3' %}
<br>
<br>
<table>
<tr>
<td>
    <table ><tr><td>
{{ mainForm.animationSize }}
    
    </td></tr></table>
</td>
</tr>
<tr><td><h3>Animation Size</h3></td></tr>
</table>
{% endif %}
</div>
