<div id="graphColors" align='center' name="hideable_div" style="display:none;">
<b>Graph colors</b>
<br>
<br>
Here you can select various color options for the output graphs.
<br>
<br>
<table border="1" align="center"><tr><td>
 <table>
  <tr>
    {{ mainForm.graphBackgroundColor }}
	<td align='left'>Graph background color</td>
  </tr>
  <tr>
    {{ mainForm.graphTextColor }}
	<td align='left'>Graph text color</td>
  </tr>
  <tr>
    {{ mainForm.graphLineColor }}
	<td align='left'>Graph line color</td>
{% if dimensionality == '3' %}
  </tr>
  <tr>
    {{ mainForm.graphFrameColor }}
	<td align='left'>Graph frame color</td>
  </tr>
  <tr>
    {{ mainForm.graphMeshColor }}
	<td align='left'>3D mesh color</td>
{% endif %}
  </tr>
 </table>
</td></tr></table>
</div>
