<div id="graphScale" class="hideable hidden">
<h2>Graph scaling and lin/log control</h2>
Here you can choose the scaling of the data{% if dimensionality != '3' %} plots.{% else %}<br>plots and the 3D scatterplots.{% endif %}
<br>
Log plots require data values greater than zero.
<br>
<br>
<table >
    <tr>
        <td>X Scale (2D Only)</td>
{% if dimensionality != '1' %}
        <td> &nbsp; </td>
        <td>Y Scale (2D Only)</td>
{% if dimensionality == '3' %}
        <td> &nbsp; </td>
        <td>Z Scale (2D Only)</td>
{% endif %}
{% endif %}
    </tr>
    <tr>
        <td>
            <table>
            <tr>
            <td>
                <table >
                <tr><td>
                   {{ mainForm.graphScaleRadioButtonX }}
                </td></tr>
                <tr><td>
                   Max X: {{ mainForm.graphScaleManuallyEnteredMaxX }}<br>
                   Min X: {{ mainForm.graphScaleManuallyEnteredMinX }}<br>                
                </td></tr>
                <tr><td> &nbsp; </td></tr>
                <tr><td>
                   {{ mainForm.logLinX }}
                </td></tr>
                </table>
            </td>
            </tr>
            </table>
        </td>
{% if dimensionality != '1' %}
        <td> &nbsp; </td>
        <td>
            <table>
            <tr>
            <td>
                <table >
                <tr><td>
                    {{ mainForm.graphScaleRadioButtonY }}
                </td></tr>
                <tr><td>
                    Max Y: {{ mainForm.graphScaleManuallyEnteredMaxY }}<br>
                    Min Y: {{ mainForm.graphScaleManuallyEnteredMinY }}<br>
                </td></tr>
                <tr><td> &nbsp; </td></tr>
                <tr><td>
                   {{ mainForm.logLinY }}
                </td></tr>
                </table>
            </td>
            </tr>
            </table>
        </td>
{% if dimensionality == '3' %}
        <td> &nbsp; </td>
        <td>
            <table>
            <tr>
            <td>
                <table >
                <tr><td>
                   {{ mainForm.graphScaleRadioButtonZ }}
                </td></tr>
                <tr><td>
                   Max Z: {{ mainForm.graphScaleManuallyEnteredMaxZ }}<br>
                   Min Z: {{ mainForm.graphScaleManuallyEnteredMinZ }}<br>                
                </td></tr>
                <tr><td> &nbsp; </td></tr>
                <tr><td>
                   {{ mainForm.logLinZ }}
                </td></tr>
                </table>
            </td>
            </tr>
            </table>
        </td>
{% endif %}
{% endif %}
    </tr>
</table>
</div>
