<div id="graphColors" class="hideable hidden">
<h2>Graph colors</h2>
<br>
<br>
Here you can select various color options for the output graphs.
<br>
<br>
<table><tr><td>
 <table>
  <tr>
    {{ mainForm.graphBackgroundColor }}
	<td>Graph background color</td>
  </tr>
  <tr>
    {{ mainForm.graphTextColor }}
	<td>Graph text color</td>
  </tr>
  <tr>
    {{ mainForm.graphLineColor }}
	<td>Graph line color</td>
{% if dimensionality == '3' %}
  </tr>
  <tr>
    {{ mainForm.graphFrameColor }}
	<td>Graph frame color</td>
  </tr>
  <tr>
    {{ mainForm.graphMeshColor }}
	<td>3D mesh color</td>
{% endif %}
  </tr>
 </table>
</td></tr></table>
</div>
