<div id="polyfunctionalSelection" class="hideable hidden">
{% if dimensionality == '2' %}
    <h2>Select Functions</h2>
    <p>Here you can combine functions to create an equation.</p>
    <h4>Equation:</h4>
    <div id='FUNCTION' class="math">{{ equationHTML }}</div>

    <h4>Functions of X</h4>
    <div class="function-matrix-scroll">
      <table class="function-matrix">
        <tr>
          {% for selected, index, html in Polyfun2DColorList %}
              {% if html == '' %}
                  <td class="pick math{% if selected %} selected{% endif %}" id='CPX{{ index }}' data-flag="polyFunctional_X{{ index }}" onClick='cT(this.id,1)'>&nbsp;offset&nbsp;</td>
              {% else %}
                  <td class="pick math{% if selected %} selected{% endif %}" id='CPX{{ index }}' data-flag="polyFunctional_X{{ index }}" onClick='cT(this.id,1)'>&nbsp;{{ html }}&nbsp;</td>
              {% endif %}
          {% endfor %}
        </tr>
      </table>
    </div>

    {% for selected, index, html in Polyfun2DColorList %}
    	<input type="hidden" name="polyFunctional_X{{ index }}" value="{% if selected %}True{% else %}False{% endif %}" id="id_polyFunctional_X{{ index }}">
    {% endfor %}

{% else %}
    <h3>Matrix of Functions</h3>
    <p>Here you can combine functions to create an equation.</p>
    <h4>Equation:</h4>
    <div id='FUNCTION' class="math">{{ equationHTML }}</div>

    <h4>Matrix of Functions</h4>
    <div class="matrix-layout">
      <p class="label-y">Functions of Y</p>
      <p class="label-x">Functions of X</p>
      <div class="function-matrix-scroll">
        <table class="function-matrix">
          {% for selected, indexX, indexY, htmlX, htmlY in Polyfun3DColorList %}
              {% if indexY == 0 %}
                  <tr>
              {% endif %}
              {% if htmlX == '' %}{# Both X and Y have empty HTML, yield offset #}
                  {% if htmlY == '' %}
                      <td class="pick math{% if selected %} selected{% endif %}" id='CPX{{ indexX }}Y{{ indexY }}' data-flag="polyFunctional_X{{ indexX }}Y{{ indexY }}" onClick='cT(this.id)'>&nbsp;offset&nbsp;</td>
                  {% endif %}
              {% endif %}
              {% if htmlX != '' %}{# Neither X nor Y has empty HTML, yield XY #}
                  {% if htmlY != '' %}
                      <td class="pick math{% if selected %} selected{% endif %}" id='CPX{{ indexX }}Y{{ indexY }}' data-flag="polyFunctional_X{{ indexX }}Y{{ indexY }}" onClick='cT(this.id)'>&nbsp;{{ htmlX }}{{ htmlY }}&nbsp;</td>
                  {% endif %}
              {% endif %}
              {% if htmlX != '' %}{# Only Y has empty HTML, yield X #}
                  {% if htmlY == '' %}
                      <td class="pick math{% if selected %} selected{% endif %}" id='CPX{{ indexX }}Y{{ indexY }}' data-flag="polyFunctional_X{{ indexX }}Y{{ indexY }}" onClick='cT(this.id)'>&nbsp;{{ htmlX }}&nbsp;</td>
                  {% endif %}
              {% endif %}
              {% if htmlX == '' %}{# Only X has empty HTML, yield Y #}
                  {% if htmlY != '' %}
                      <td class="pick math{% if selected %} selected{% endif %}" id='CPX{{ indexX }}Y{{ indexY }}' data-flag="polyFunctional_X{{ indexX }}Y{{ indexY }}" onClick='cT(this.id)'>&nbsp;{{ htmlY }}&nbsp;</td>
                  {% endif %}
              {% endif %}
              {% if indexY == maxPolyfunctionalListIndex %}
                  </tr>
              {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

    {% for selected, indexX, indexY, htmlX, htmlY in Polyfun3DColorList %}
        <input type="hidden" name="polyFunctional_X{{ indexX }}Y{{ indexY }}" value="{% if selected %}True{% else %}False{% endif %}" id="id_polyFunctional_X{{ indexX }}Y{{ indexY }}">
    {% endfor %}

{% endif %}
</div>
