<div id="polynomialCustomization" class="hideable hidden">
    <h2>Customize Polynomial</h2>
    <p>Here you can combine polynomials to create an equation.</p>
    <h4>Equation:</h4>
    <div id='FUNCTION' class="math">{{ equationHTML }}</div>

    <h4>Powers of X</h4>
    <div class="function-matrix-scroll">
      <table class="function-matrix">
        <tr>
          {% for selected, index, html in Polynomial2DColorList %}
              <td class="pick math{% if selected %} selected{% endif %}" id='CPX{{ index }}' data-flag="polyFunctional_X{{ index }}" onClick='cT(this.id,0)'>&nbsp;{{ html }}&nbsp;</td>
          {% endfor %}
        </tr>
      </table>
    </div>

    {% for selected, index, html in Polynomial2DColorList %}
        <input type="hidden" name="polyFunctional_X{{ index }}" value="{% if selected %}True{% else %}False{% endif %}" id="polyFunctional_X{{ index }}">
    {% endfor %}
</div>
