<div ID="polyrationalSelection"  align='center' name="hideable_div" style="display:none;">
{% if dimensionality == '2' %}
    <b>Select Functions</b>
    <br>
    <br>
    Here you can combine numerator and denominator functions to create a rational equation.
    <br>
    <br>
    <p ALIGN=CENTER>Equation:<p><div ID='FUNCTION' ALIGN=CENTER>{{ equationHTML }}</div>
    
    <br>Numerator Functions of X<br>
     <table BORDER=0>
      <tr>
        {% for color, index, html in Polyrat2DNumeratorColorList %}
            {% if html == '' %}
	           	<td style='background-color:{{ color }}' CLASS=pick ID='CPX_N{{ index }}' onClick='cT(this.id)'>&nbsp;constant&nbsp;</td>
            {% else %}
               	<td style='background-color:{{ color }}' CLASS=pick ID='CPX_N{{ index }}' onClick='cT(this.id)'>&nbsp;{{ html }}&nbsp;</td>
            {% endif %}
        {% endfor %}
      </tr>
     </table>
     
    <br>Denominator Functions of X<br>
     <table BORDER=0>
      <tr>
        {% for color, index, html in Polyrat2DDenominatorColorList %}
            {% if html == '' %}
	           	<td style='background-color:{{ color }}' CLASS=pick ID='CPX_D{{ index }}' onClick='cT(this.id)'>&nbsp;constant&nbsp;</td>
            {% else %}
               	<td style='background-color:{{ color }}' CLASS=pick ID='CPX_D{{ index }}' onClick='cT(this.id)'>&nbsp;{{ html }}&nbsp;</td>
            {% endif %}
        {% endfor %}
      </tr>
     </table>

    <br>Offset Term<br>
     <table BORDER=0>
      <tr>
       	<td style='background-color:{{ colorOffset }}' CLASS=pick ID='CPX_OFFSET' onClick='cT(this.id)'>&nbsp;Offset Term&nbsp;</td>
      </tr>
     </table>

    {% for color, index, html in Polyrat2DNumeratorColorList %}
    	<input TYPE="hidden" name="polyRational_X_N{{ index }}" value="False" id="id_polyRational_X_N{{ index }}">
    {% endfor %}
    {% for color, index, html in Polyrat2DDenominatorColorList %}
    	<input TYPE="hidden" name="polyRational_X_D{{ index }}" value="False" id="id_polyRational_X_D{{ index }}">
    {% endfor %}
    <input TYPE="hidden" name="polyRational_OFFSET" value="False" id="id_polyRational_OFFSET">

{% else %}
    <b>Matrix of Functions</b>
    <br><br>
    Here you can create a function matrix to create an equation.
    <br><br>
    <p ALIGN=CENTER>Equation:<p><div ID='FUNCTION' ALIGN=CENTER>{{ equationHTML }}</div><br><table BORDER=0 ALIGN=CENTER>
    <tr><td> &nbsp; </td><td ALIGN=CENTER>Functions of Y</td>
    <tr><td align=center>F<br>u<br>n<br>c<br>t<br>i<br>o<br>n<br>s<br>&nbsp;<br>o<br>f<br>&nbsp;<br>X</td><td ALIGN=CENTER>

     <table BORDER=0>
        {% for color, indexX, indexY, htmlX, htmlY in Polyfun3DColorList %}
            {% if indexY == 0 %}
                <tr>
            {% endif %}
            {% if htmlX == '' %}{#           Both X and Y have empty HTML , yield offset          #}
                {% if htmlY == '' %}
                    <td style='background-color:{{ color }}' CLASS=pick ID='CPX{{ indexX }}Y{{ indexY }}' onClick='cT(this.id)'>&nbsp;constant&nbsp;</td>
                {% endif %}
            {% endif %}
            {% if htmlX != '' %}{#           Neither X and Y have empty HTML , yield XY          #}
                {% if htmlY != '' %}
                    <td style='background-color:{{ color }}' CLASS=pick ID='CPX{{ indexX }}Y{{ indexY }}' onClick='cT(this.id)'>&nbsp;{{ htmlX }}{{ htmlY }}&nbsp;</td>
                {% endif %}
            {% endif %}
            {% if htmlX != '' %}{#           Only Y has empty HTML , yield X          #}
                {% if htmlY == '' %}
                    <td style='background-color:{{ color }}' CLASS=pick ID='CPX{{ indexX }}Y{{ indexY }}' onClick='cT(this.id)'>&nbsp;{{ htmlX }}&nbsp;</td>
                {% endif %}
            {% endif %}
            {% if htmlX == '' %}{#           Only X has empty HTML , yield Y          #}
                {% if htmlY != '' %}
                    <td style='background-color:{{ color }}' CLASS=pick ID='CPX{{ indexX }}Y{{ indexY }}' onClick='cT(this.id)'>&nbsp;{{ htmlY }}&nbsp;</td>
                {% endif %}
            {% endif %}
            {% if indexY == maxPolyfunctionalListIndex %}
                </tr>
            {% endif %}
        {% endfor %}
     </table>
    </table>

    {% for color, indexX, indexY, htmlX, htmlY in Polyfun3DColorList %}
        <input TYPE="hidden" name="polyFunctional_X{{ indexX }}Y{{ indexY }}" value="False" id="id_polyFunctional_X{{ indexX }}Y{{ indexY }}">
    {% endfor %}

{% endif %}
</div>
