<div id="polynomialSelection" name="hideable_div" style="display:none;">
<h2>Polynomial selection</h2>
{% if dimensionality == '2' %}
    Select the highest order term for the polynomial equation.
    <br>
    <br>
    {{ mainForm.polynomialOrderX2D }}
{% else %}
    Select the highest order terms for the polynomial equation.
    <br>
    <br>
    <table>
    <tr><td>
    {{ mainForm.polynomialOrderX3D }} Highest term for first independent data (X)
    <br>
    {{ mainForm.polynomialOrderY3D }} Highest term for second independent data (Y)
    </td></tr>
    </table>
{% endif %}
</div>
