<div id="polyrationalSelection" class="hideable hidden">
{% if dimensionality == '2' %}
    <h2>Select Functions</h2>
    <p>Here you can combine numerator and denominator functions to create a rational equation.</p>
    <h4>Equation:</h4>
    <div id='equationPreview' class="math">{{ equationHTML }}</div>

    <h4>Numerator Functions of X</h4>
    <div class="function-matrix-scroll">
      <table class="function-matrix">
        <tr>
          {% for selected, index, html in Polyrat2DNumeratorColorList %}
              {% if html == '' %}
                  <td class="pick math{% if selected %} selected{% endif %}" id='CPX_N{{ index }}' data-flag="polyRational_X_N{{ index }}" onClick='cT(this.id)'>&nbsp;constant&nbsp;</td>
              {% else %}
                  <td class="pick math{% if selected %} selected{% endif %}" id='CPX_N{{ index }}' data-flag="polyRational_X_N{{ index }}" onClick='cT(this.id)'>&nbsp;{{ html }}&nbsp;</td>
              {% endif %}
          {% endfor %}
        </tr>
      </table>
    </div>

    <h4>Denominator Functions of X</h4>
    <div class="function-matrix-scroll">
      <table class="function-matrix">
        <tr>
          {% for selected, index, html in Polyrat2DDenominatorColorList %}
              {% if html == '' %}
                  <td class="pick math{% if selected %} selected{% endif %}" id='CPX_D{{ index }}' data-flag="polyRational_X_D{{ index }}" onClick='cT(this.id)'>&nbsp;constant&nbsp;</td>
              {% else %}
                  <td class="pick math{% if selected %} selected{% endif %}" id='CPX_D{{ index }}' data-flag="polyRational_X_D{{ index }}" onClick='cT(this.id)'>&nbsp;{{ html }}&nbsp;</td>
              {% endif %}
          {% endfor %}
        </tr>
      </table>
    </div>

    <h4>Offset Term</h4>
    <div class="function-matrix-scroll">
      <table class="function-matrix">
        <tr>
          <td class="pick math{% if offsetSelected %} selected{% endif %}" id='CPX_OFFSET' data-flag="polyRational_OFFSET" onClick='cT(this.id)'>&nbsp;Offset Term&nbsp;</td>
        </tr>
      </table>
    </div>

    {% for selected, index, html in Polyrat2DNumeratorColorList %}
    	<input type="hidden" name="polyRational_X_N{{ index }}" value="{% if selected %}True{% else %}False{% endif %}" id="id_polyRational_X_N{{ index }}">
    {% endfor %}
    {% for selected, index, html in Polyrat2DDenominatorColorList %}
    	<input type="hidden" name="polyRational_X_D{{ index }}" value="{% if selected %}True{% else %}False{% endif %}" id="id_polyRational_X_D{{ index }}">
    {% endfor %}
    <input type="hidden" name="polyRational_OFFSET" value="{% if offsetSelected %}True{% else %}False{% endif %}" id="id_polyRational_OFFSET">
{% endif %}
</div>
