<DIV ID="polynomialCustomization"  align='center' name="hideable_div" style="display:none;">
{% if dimensionality == '2' %}
    <B>Customize Polynomial</B>
    <BR>
    <BR>
    Here you can combine polynomials to create an equation.
    <BR>
    <BR>
    <P ALIGN=CENTER>Equation:<P><DIV ID='FUNCTION' ALIGN=CENTER>{{ equationHTML }}</DIV><BR>Powers of X<BR>
     <TABLE BORDER=0>
      <TR>
        {% for color, index, html in Polynomial2DColorList %}
           	<TD style='background-color:{{ color }}' CLASS=pick ID='CPX{{ index }}' onClick='cT(this.id,0)'>&nbsp;{{ html }}&nbsp;</TD>
        {% endfor %}
      </TR>
     </TABLE>

    {% for color, index, html in Polynomial2DColorList %}
    	<INPUT TYPE="hidden" name="polyFunctional_X{{ index }}" value="False" id="polyFunctional_X{{ index }}">
    {% endfor %}

{% else %}
    <B>Matrix of Functions</B>
    <BR><BR>
    Here you can combine functions to create an equation.
    <BR><BR>
    <P ALIGN=CENTER>Equation:<P><DIV ID='FUNCTION' ALIGN=CENTER>{{ equationHTML }}</DIV><BR><TABLE BORDER=0 ALIGN=CENTER>
    <TR><TD> &nbsp; </TD><TD ALIGN=CENTER>Functions of Y</TD>
    <TR><TD align=center>F<BR>u<BR>n<BR>c<BR>t<BR>i<BR>o<BR>n<BR>s<BR>&nbsp;<BR>o<BR>f<BR>&nbsp;<BR>X</TD><TD ALIGN=CENTER>

     <TABLE BORDER=0>
        {% for color, indexX, indexY, htmlX, htmlY in Polyfun3DColorList %}
            {% if indexY == 0 %}
                <TR>
            {% endif %}
            {% if htmlX == '' %}{#           Both X and Y have empty HTML , yield offset          #}
                {% if htmlY == '' %}
                    <TD style='background-color:{{ color }}' CLASS=pick ID='CPX{{ indexX }}Y{{ indexY }}' onClick='cT(this.id,0)'>&nbsp;offset&nbsp;</TD>
                {% endif %}
            {% endif %}
            {% if htmlX != '' %}{#           Neither X and Y have empty HTML , yield XY          #}
                {% if htmlY != '' %}
                    <TD style='background-color:{{ color }}' CLASS=pick ID='CPX{{ indexX }}Y{{ indexY }}' onClick='cT(this.id.0)'>&nbsp;{{ htmlX }}{{ htmlY }}&nbsp;</TD>
                {% endif %}
            {% endif %}
            {% if htmlX != '' %}{#           Only Y has empty HTML , yield X          #}
                {% if htmlY == '' %}
                    <TD style='background-color:{{ color }}' CLASS=pick ID='CPX{{ indexX }}Y{{ indexY }}' onClick='cT(this.id,0)'>&nbsp;{{ htmlX }}&nbsp;</TD>
                {% endif %}
            {% endif %}
            {% if htmlX == '' %}{#           Only X has empty HTML , yield Y          #}
                {% if htmlY != '' %}
                    <TD style='background-color:{{ color }}' CLASS=pick ID='CPX{{ indexX }}Y{{ indexY }}' onClick='cT(this.id,0)'>&nbsp;{{ htmlY }}&nbsp;</TD>
                {% endif %}
            {% endif %}
            {% if indexY == maxPolyfunctionalListIndex %}
                </TR>
            {% endif %}
        {% endfor %}
     </TABLE>
    </TABLE>

    {% for color, indexX, indexY, htmlX, htmlY in Polyfun3DColorList %}
        <INPUT TYPE="hidden" name="polyFunctional_X{{ indexX }}Y{{ indexY }}" value="False" id="polyFunctional_X{{ indexX }}Y{{ indexY }}">
    {% endfor %}

{% endif %}
</DIV>
