<div id="scientificNotation" class="hideable hidden">
  <h2>Scientific Notation</h2>
  <p>Here you can control scientific notation on the data plots{% if dimensionality != '3' %}.{% else %} and the contour plots.{% endif %}</p>

  <div class="form-columns">
    <div>
      <label for="id_scientificNotationX">X Control</label>
      {{ mainForm.scientificNotationX }}
    </div>
    {% if dimensionality != '1' %}
    <div>
      <label for="id_scientificNotationY">Y Control</label>
      {{ mainForm.scientificNotationY }}
    </div>
    {% endif %}
    {% if dimensionality == '3' %}
    <div>
      <label for="id_scientificNotationZ">Z Control</label>
      {{ mainForm.scientificNotationZ }}
    </div>
    {% endif %}
  </div>
</div>
