<DIV ID="smoothnessControl" align='center' name="hideable_div" style="display:none;">
<div style="text-align:center"><B>Smoothness Control</B><BR><BR>

Select the maximum number of coefficients for the function finder.
<BR>Equations with fewer coefficients are generally smoother.
<br>
<br>
{% if dimensionality == '2' %}
	{{ mainForm.smoothnessControl2D }}
{% else %}
	{{ mainForm.smoothnessControl3D }}
{% endif %}
<br>
<br>
<br>
<TABLE BORDER="1">
<TR>
    <TD ALIGN=LEFT>
    {{ mainForm.smoothnessExactOrMax }}
    </TD>
</TR>
</TABLE>

</div>
</DIV>
