<div id="smoothnessControl" align='center' name="hideable_div" style="display:none;">
<div style="text-align:center"><b>Smoothness Control</b><br><br>

Select the maximum number of coefficients for the function finder.
<br>Equations with fewer coefficients are generally smoother.
<br>
<br>
{% if dimensionality == '2' %}
	{{ mainForm.smoothnessControl2D }}
{% else %}
	{{ mainForm.smoothnessControl3D }}
{% endif %}
<br>
<br>
<br>
<table border="1">
<tr>
    <td align=left>
    {{ mainForm.smoothnessExactOrMax }}
    </td>
</tr>
</table>

</div>
</div>
