<div id="splineControl" class="hideable hidden">
<h2>Spline Control Parameters</h2>
Here you can enter the control parameters for the spline.
<br>
<br>
<table >
<tr>
    <td>
    {{ mainForm.splineSmoothness }}
    </td>
    <td>
    <small>Smoothness (larger numbers are smoother)</small>
    </td>
</tr>
<tr><td> &nbsp; </td><td> &nbsp; </td></tr>
<tr>
    <td>
    {{ mainForm.splineOrderX }}
    </td>
    <td>
{% if dimensionality == '2' %}
    <small>Spline order</small>
{% else %}
    <small>Spline order for first independent data (X)</small>
{% endif %}
    </td>
</tr>
{% if dimensionality == '3' %}

<tr><td> &nbsp; </td><td> &nbsp; </td></tr>

<tr>
    <td>
    {{ mainForm.splineOrderY }}
    </td>
    <td>
    <small>Spline order for second independent data (Y)</small>
    </td>
</tr>
{% endif %}
</table>
</div>
