<div id="splineControl" class="hideable hidden">
<h2>Spline Control Parameters</h2>
<p>Here you can enter the control parameters for the spline.</p>
<p><label>{{ mainForm.splineSmoothness }} <small>Smoothness (larger numbers are smoother)</small></label></p>
<p><label>{{ mainForm.splineOrderX }} <small>{% if dimensionality == '2' %}Spline order{% else %}Spline order for first independent data (X){% endif %}</small></label></p>
{% if dimensionality == '3' %}
<p><label>{{ mainForm.splineOrderY }} <small>Spline order for second independent data (Y)</small></label></p>
{% endif %}
</div>
