{% extends "zunzun/generic_page_template.html" %}

{% block title %}
    ZunZunNG - {{ dimensionality }}D Function Finder
{% endblock %}

{% block body_contents %}

<form action="/FunctionFinder__F__/{{ dimensionality }}/" method='post'>

<table><tr>
    <td>Pulldown Menu</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>        <select id="s1">
        <option>
        <option value='introDiv' selected>Introduction
        <option value='dataEntry'>Text Data Editor
        <option value='fittingTarget'>Fitting Target
        <option value='dataLabels'>Data Labels For Graphs
{% if dimensionality == '2' %}
        <option value='linLog'>Lin/Log Control
{% endif %}
        <option value='smoothnessControl'>Smoothness Control
        <option value='equationFamilyInclusion'>Equation Family Inclusion
        <option value='extendedEquationTypes'>Extended Equation Types
        </select>
    </td>
    <td>&nbsp;</td>
    <td>        <input type="submit" value="Submit">
    </td>
    <td>&nbsp;</td>
    <td><a href="https://github.com/kiloscheffer/zunzun-ng" target="_parent">Home</a></td>
</tr>
</table>
<br>


<div id="introDiv" name="hideable_div">
<b><span>Introduction</span></b><br><br>
Please select an option from the pull-down menu above.<br>
<br>
<b>Advice:</b> Most users should turn off the Polyfunctional family<br>
of equations and set the Smoothness Control to a small value<br>
to start, then increase the Smoothness Control value as needed.
</div>

{% include "zunzun/divs/data_entry_div.html" %}
{% include "zunzun/divs/fitting_target_div.html" %}
{% include "zunzun/divs/data_labels_div.html" %}
{% include "zunzun/divs/smoothness_control_div.html" %}
{% include "zunzun/divs/equation_family_inclusion_div.html" %}
{% include "zunzun/divs/extended_equation_types_control_div.html" %}

{% if dimensionality == '2' %}
<div id="linLog" name="hideable_div">
<b>Lin/log control</b><br><br>
Log plots require data values greater than zero.
<br>
<br>
<table >
    <tr>
        <td>Select X Lin/Log Scaling</td>
        <td> &nbsp; </td>
        <td>Select Y Lin/Log Scaling</td>
    </tr>
    <tr>
        <td>
            <table>
            <tr>
            <td>
                <table >
                <tr><td>
                   {{ mainForm.logLinX }}
                </td></tr>
                </table>
            </td>
            </tr>
            </table>
        </td>
        <td> &nbsp; </td>
        <td>
            <table>
            <tr>
            <td>
                <table >
                <tr><td>
                   {{ mainForm.logLinY }}
                </td></tr>
                </table>
            </td>
            </tr>
            </table>
        </td>
    </tr>
</table>
</div>
{% endif %}

</form>
{% endblock %}
