{% extends "zunzun/generic_page_template.html" %}

{% block title %}
    ZunZunNG Curve Fitting and Surface Fitting
{% endblock %}

{% block icon_links %}
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
{% endblock %}

{% block body_contents %}
<div align='center'>
<br>
<b>Error</b><br><br>

<table align="center">

<tr><td align='right'>Error :</td><td align='left'>{{error}}</td></tr>

</table>

<br><br>
Please close this page, correct any errors, and try again.

</div>
{% endblock body_contents %}
