{% extends "zunzun/generic_page_template.html" %}

{% block title %}
    ZunZunNG - Online Curve Fitting and Surface Fitting
{% endblock %}

{% block body_contents %}
<div>
<h2>Error In Form</h2>

<dl>
{% for field in mainForm %}
{% if field.errors %}
    <dt>{{ field.label }}</dt>
    <dd>{{ field.errors }}</dd>
{% endif %}
{% endfor %}
{% if mainForm.non_field_errors %}
{% for error in mainForm.non_field_errors %}
    <dt>Form error</dt>
    <dd>{{ error }}</dd>
{% endfor %}
{% endif %}
</dl>

<p>Please close this page, correct any errors, and try again.</p>

</div>
{% endblock %}
