{% extends "zunzun/generic_page_template.html" %}

{% block title %}
    ZunZunNG Curve Fitting and Surface Fitting
{% endblock %}

{% block icon_links %}
    <link rel="icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/temp/static_images/favicon.ico" type="image/x-icon">
{% endblock %}

{% block body_contents %}
<div align='center'>
<br>
<b>Error In Form</b><br><br>

<table align="center">

{% for field in mainForm %}
{% if field.errors %}
<tr><td align='right'>{{field.label}} :</td><td align='left'>{{field.errors}}</td></tr>
{% endif %}
{% endfor %}

{% if mainForm.non_field_errors %}
{% for error in mainForm.non_field_errors %}
<tr><td align='right'>Form error :</td><td align='left'>{{error}}</td></tr>
{% endfor %}
{% endif %}
</table>

<br><br>
Please close this page, correct any errors, and try again.

</div>
{% endblock body_contents %}
